<div class="container", style="margin-top: 4.25rem;">
  <div class="row">
    <div class="col-md-5 mx-auto">
      <h2>Sign up</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :first_name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "given_name" }%>
          <%= f.input :last_name,
                      required: true,
                      input_html: { autocomplete: "family_name" }%>
          <%= f.input :date_of_birth, required: true, start_year: Time.now.year - 80, end_year: Time.now.year %>
          <%= f.check_box :is_female, {}, true %> <%= f.label :is_female, "Female" %> 
          <%= f.check_box :is_female, {}, false %> <%= f.label :is_female, "Male" %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.input :address %>
          <%= f.input :email,
                      required: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="btn btn-primary btn-lg" style="border-radius: 5rem; width:100%; font-size: 100%;">
          <%= f.button :submit, "Sign up", class:"text-white" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
