<h2>Open Orders</h2>
<div style='border-bottom: 1px solid #8B81D2; margin-bottom: 10px;'>
  <div style='width:22vw;'>
    <%= "No open orders" if (@group.orders.select { |order| order.filled == false }).count == 0 %>
  </div>
  <% (@group.orders.select { |order| order.filled == false }).each do |order|%>
  <div id='orders-container'>
   <h3><%= order.ticker %> <span style='color:#219974; font-size:24px;'><%= "BUY" if order.buy == true %><%= "SELL" if order.buy == false %></span></h3>
   <div id='orders-content'>
    <div>
     <span style='color:gray;'>Quantity:</span>
     <span><%= order.quantity %></span>
    </div>
    <div>
     <span style='color:gray;'>Price/share:</span>
     <span>$<%= order.price %></span>
    </div>
    <div style='border-top: 1px solid #8B81D2'>
     <span style='color:gray;'>Total Price:</span>
     <span>$<%= order.price * order.quantity %></span>
    </div>
   </div>
  </div>
  <% end %>
</div>

<h2>Closed Orders</h2>
<div style='margin-bottom: 50px;'>
  <% (@group.orders.select { |order| order.filled == true }).each do |order|%>
    <div id='orders-container'>
      <h3><%= order.ticker.upcase %> <span style='color:#219974; font-size:24px;'><%= "BUY" if order.buy == true %><%= "SELL" if order.buy == false %></span></h3>
      <div id='orders-content'>
        <div>
          <span style='color:gray;'>Quantity:</span>
          <span><%= order.quantity %></span>
        </div>
        <div>
          <span style='color:gray;'>Price/share:</span>
          <span>$<%= order.price %></span>
        </div>
        <div style='border-top: 1px solid #8B81D2'>
          <span style='color:gray;'>Total Price:</span>
          <span>$<%= order.price * order.quantity %></span>
        </div>
      </div>
    </div>
  <% end %>
</div>
