<div id='group-index-banner' class='container-fluid d-flex flex-column justify-content-center align-items-center'>
  <h2>Join a <span>group<span>.</h2>
  <h2>Start investing today!</h2>
</div>
<div class='container-fluid' style='height:5px; opacity:.5; background-color:gray;'>
</div>
<div id='group-cards-container' class='container-fluid' style='background-image: url(<%= asset_url () %>'>

</div>










<div class='d-flex flex-column justify-content-start align-items-start'>
  <h1 style='font-family:Ropa Sans;margin: 100px 0;'>Investment Groups</h1>
  <div class='dashboard-group'>
    <% Group.all.each do |group| %>
      <div class='group-card'>
        <div class='group-photo'>
          <%= image_tag 'group.jpg' %>
        </div>
        <div class='group-info'>
          <div class='d-flex flex-column justify-content-start'>
            <h3><%= group.name %></h3>
            <p>Members: <%= group.users.count %></p>
            <br>
            <p><i><%= group.description %></i></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
