<div class='d-flex flex-column justify-content-center' style='width:100%;'>
  <div id='group-index-banner' class='d-flex
  flex-column justify-content-center align-items-center'>
    <h2>Join a <span>group<span>.</h2>
    <h2>Start investing today!</h2>
  </div>
  <div id='group-cards-container' style='background-image:url(<%= asset_url ('bottomright.png') %>); background-position: right bottom; background-repeat: no-repeat;'>
    <div class='container-fluid d-flex flex-row justify-content-center align-items-start flex-wrap' style='padding:50px 118px; margin-bottom: 100px;'>
      <% if @groups.count.zero? %> 
        <div class="d-flex flex-column justify-content-center">
          <h3>No available groups for you to join, maybe you should start one?!</h3>
          <button type="button" class="btn lavender-button" data-toggle="modal" data-target="#createGroup" data-whatever="@createGroup">Create a Group</button>
        </div>
      <% else %>
        <% @groups.each do |group| %>
        <button type="button" class="join-group-button btn" data-toggle="modal" data-target="#joinGroup" data-group='<%= group.id %>'>
          <div class='group-cardd gray-shadow'>
            <%= image_tag 'group.jpg' %>
            <div class='d-flex justify-content-between align-items-center' style='width:300px;'>
              <h3 style='margin-left: 10px;'><%= group.name %></h3>
              <p style='margin: 0 10px 5px 0; font-size: 20px;'><i class="fas fa-user"></i> <%= group.users.count %></p>
            </div>
            <i class="fas fa-plus"></i>
          </div>
        </button>
        <% end %>
      <% end %>
    </div>
  </div>
</span>

<%= render 'shared/modal_create_group' %>

<script>
  const joinGroupButtons = document.querySelectorAll('.join-group-button');
  const joinGroupInput = document.getElementById('user_group_group_id');
  joinGroupButtons.forEach((button) => {
    button.addEventListener('click', () => {
      joinGroupInput.value = button.dataset.group;
      console.log('hi');
    });
  })
</script>
