<div id='group-show-div'>
  <div id='group-performance'>
    <div id='main-chart-header'>
      <div>
        <h1>Lavender <span style='font-size: 24px;'>$939,938</span></h1>
      </div>
      <p>+$233.93 (+24.33%)</p>
    </div>
    <div id="mainchartdiv"></div>
    <div id='group-stats'>
      <div id='group-shares'>
        <div class='d-flex justify-content-between'>
          <p style='color:gray;'>Shares:</p>
          <p>25</p>
        </div>
        <div class='d-flex justify-content-between'>
          <p style='color:gray;'>Share value:</p>
          <p>$10/share</p>
        </div>
        <div class='d-flex justify-content-between' style='border-top: 1px solid #8B81D2;'>
          <p style='color:gray;'>Your share:</p>
          <p>$250</p>
        </div>
      </div>
      <div id='group-balance'>
        <div class='d-flex justify-content-between'>
          <p style='color:gray;'>Available Cash:</p>
          <p>$2,500</p>
        </div>
        <div class='d-flex justify-content-between'>
          <p style='color:gray;'>Investment value:</p>
          <p>$25,000</p>
        </div>
        <div class='d-flex justify-content-between'style='border-top: 1px solid #8B81D2;'>
          <p style='color:gray;'>Portfolio Value:</p>
          <p>$27,500</p>
        </div>
      </div>
    </div>
  </div>

  <div id='group-positions'>
    <div class='d-flex align-items-start justify-content-start'>
      <h2>Positions</h2>
      <div style='background-color: gray; border-radius: 5px; width: 150px; text-align: center; margin-left: 40px; font-size: 24px;'>
          Dropdown
      </div>
    </div>
    <div id='group-positions-content'>
      <div>
      </div>
    </div>
  </div>
</div>

















<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>


<div class="container">
  <!-- displaying users of the group -->
  <% @users.each do |user| %>
    <%= user.first_name %>
    <%= user.last_name %>
  <% end %>
  <!-- POSITIONS -->
  <% @positions.each do |position| %>
    <%= position.ticker %>
  <% end %>
  <!-- POLLS -->
  <% @polls.each do |poll| %>
    <%= poll.description %>
  <% end %>
  <!-- ORDERS -->
  <% @orders.each do |order| %>
    <%= order.ticker %>
  <% end %>

   <!-- new poll -->
  <div class="create-form mx-auto">
    <span>
      <span style="font-size:24px; font-weight:bold;" >
        <h3>Create Poll</h3>
      </span>
      <p>
      <%= simple_form_for [@group, @poll] do |f| %>
      <%= f.input :description %>
      <%= f.input :target_price %>
      <%= f.input :stop_loss_price %>
      <%= f.input :quantity %>
      <%= f.input :expiration %>
      <%= f.input :ticker %>
      <%= f.button :submit, 'Create Poll', class: 'btn btn-primary'%>
      <% end %>
    </p>
  </div>

  <!-- deposit -->
  <div class="create-form mx-auto">
    <span>
      <span style="font-size:24px; font-weight:bold;" >
        <h3>Deposit</h3>
      </span>
      <p>
      <%#= simple_form_for [@user_group] do |f| %>
        <%#= f.input :amount %>
        <%#= f.button :submit, 'Deposit', class: 'btn btn-primary'%>
      <%# end %>
    </p>
  </div>

  <!-- withdraw -->
  <div class="create-form mx-auto">
    <span>
      <span style="font-size:24px; font-weight:bold;" >
        <h3>Withdraw</h3>
      </span>
      <p>
      <%#= simple_form_for [@user_group] do |f| %>
      <%#= f.input :amount %>
      <%#= f.button :submit, 'Withdraw', class: 'btn btn-primary'%>
      <%# end %>
    </p>
  </div>

  <!-- vote in poll -->
  <div class="create-form mx-auto">
    <span>
      <span style="font-size:24px; font-weight:bold;" >
        <h3>Submit Vote</h3>
      </span>
      <p>
      <!-- iterate through all polls -->
      <% @polls.each do |poll| %>
        <!-- Option 1: create poll show view to handle this route -->
        <%= link_to poll.description, poll_path(poll) %>

        <!-- Option 2: for each poll we can vote on the poll -->
      <!-- future: put this in modal later -->
        <%= simple_form_for [poll, Vote.new] do |f| %>
          <%= f.button :submit, 'yes', class: 'btn btn-primary' %>
          <%= f.button :submit, 'no', class: 'btn btn-primary' %>
        <% end %>
      <% end %>
    </p>
  </div>

</div>

