<!-- displaying users of the group -->
<% @members.each do |member| %>
  <%= member.first_name %>
  <%= member.last_name %>
<% end %>
<!-- POSITIONS -->
<% @positions.each do |position| %>
  <%= position.ticker %>
<% end %>
<!-- POLLS -->
<% @polls.each do |poll| %>
  <%= poll.description %>
<% end %>
<!-- ORDERS -->
<% @orders.each do |order| %>
  <%= order.ticker %>
<% end %>




 <!-- new poll -->
<div class="create-form mx-auto">
  <span>
    <span style="font-size:24px; font-weight:bold;" >
      <h3>Create Poll</h3>
    </span>
    <p>
    <%= simple_form_for [@poll] do |f| %>
    <%= f.input :description %>
    <%= f.input :target_price %>
    <%= f.input :stop_loss_price %>
    <%= f.input :quantity %>
    <%= f.input :expiration %>
    <%= f.input :ticker %>
    <%= f.button :submit, 'Create Poll', class: 'btn btn-primary'%>
    <% end %>
  </p>
</div>

<!-- deposit/withdrawl -->
<div class="create-form mx-auto">
  <span>
    <span style="font-size:24px; font-weight:bold;" >
      <h3>Deposit/Withdraw</h3>
    </span>
    <p>
    <%= simple_form_for [@group] do |f| %>
    <%= f.input :name, maxlength: 20 %>
    <%= f.input :description %>
    <%= f.input :initial_deposit %>
    <%= f.button :submit, 'Create Group', class: 'btn btn-primary'%>
    <% end %>
  </p>
</div>

<!-- vote in poll -->
<div class="create-form mx-auto">
  <span>
    <span style="font-size:24px; font-weight:bold;" >
      <h3>Submit Vote</h3>
    </span>
    <p>
    <%= simple_form_for [@group] do |f| %>
    <%= f.input :name, maxlength: 20 %>
    <%= f.input :description %>
    <%= f.input :initial_deposit %>
    <%= f.button :submit, 'Create Group', class: 'btn btn-primary'%>
    <% end %>
  </p>
</div>
