f<div class='container d-flex align-items-start justify-content-center'>
  <div id='group-show-div'>
    <div id='group-performance'>
      <div id='main-chart-header'>
        <div>
          <h1><%= @group.name %> <span style='font-size: 24px;'>$<%= @group.portfolio_value %></span></h1>
        </div>
        <p>+$233.93 (+24.33%)</p>
      </div>
      <div id="mainchartdiv" class='gray-shadow'></div>
      <div id='group-stats' class='gray-shadow'>
        <div id='group-shares'>
          <div class='d-flex justify-content-between'>
            <p style='color:gray;'>Shares:</p>
            <p><%= @group.total_shares %></p>
          </div>
          <div class='d-flex justify-content-between'>
            <p style='color:gray;'>Share value:</p>
            <p>$<%= @group.portfolio_value / @group.total_shares %></p>
          </div>
          <div class='d-flex justify-content-between' style='border-top: 1px solid #8B81D2;'>
            <p style='color:gray;'>Your share:</p>
            <p>$<%= (@group.portfolio_value / @group.total_shares) * @user_group.user_share %></p>
          </div>
        </div>
        <div id='group-balance'>
          <div class='d-flex justify-content-between'>
            <p style='color:gray;'>Available Cash:</p>
            <p>$<%= @group.cash_value %></p>
          </div>
          <div class='d-flex justify-content-between'>
            <p style='color:gray;'>Investment value:</p>
            <p>$<%= @group.investment_value %></p>
          </div>
          <div class='d-flex justify-content-between'style='border-top: 1px solid #8B81D2;'>
            <p style='color:gray;'>Portfolio Value:</p>
            <p>$<%= @group.portfolio_value %></p>
          </div>
        </div>
      </div>
    </div>

    <div id='group-positions'>
      <div class='d-flex align-items-start justify-content-start'>
        <h2>Positions</h2>
        <div style='background-color: gray; border-radius: 5px; width: 150px; text-align: center; margin-left: 40px; font-size: 24px;'>
            Dropdown
        </div>
      </div>
      <%= "No positions yet, what are you waiting for?" if @positions.count.zero? %>
      <% @positions.each do |position| %>
        <div id='group-positions-content' class='gray-shadow'>
          <div>
            <div class='d-flex justify-content-between'>
              <p style='color:gray;'><b><%= position.ticker %></p>
            </div>
            <div class='d-flex justify-content-between'>
              <p style='color:gray;'>Shares:</p>
              <p><%= position.quantity %></p>
            </div>
            <div class='d-flex justify-content-between'>
              <p style='color:gray;'>Equity value:</p>
              <p>$<%= position.quantity * StockQuote::Stock.quote(position.ticker).latest_price %></p>
            </div>
            <div class='d-flex justify-content-between'>
              <p style='color:gray;'>Average Cost:</p>
              <p>$22/share</p>
            </div>
          </div>
          <div>
            <div class='d-flex justify-content-between'>
              <p style='color:gray;'>Today's Return:</p>
              <p style='color:#219974'>+$30.23 (+2.5%)</p>
            </div>
            <div class='d-flex justify-content-between'>
              <p style='color:gray;'>Total Return:</p>
              <p style='color:#219974'>+$1,032 (+3.5%)</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div id='group-polls'>
      <h2>Polls</h2>
      <%= "No current polls, start the discussion now!" if @polls.count.zero? %>
      <% @polls.each do |poll| %>
        <div id='polls-container' class='gray-shadow'>
          <div class='poll-header'>
            <p><b><%= poll.creator.first_name %></b> wants to <b><%= 'BUY' if poll.buy == true %><%= 'SELL' if poll.buy == false %></b></p>
            <p><b><%= poll.quantity %></b> shares of <b><%= poll.ticker %></b></p>
          </div>
          <div class='poll-content'>
            <p style='margin-bottom: 20px;'><i><%= poll.description %></i></p>
            <div>
              <div class='d-flex justify-content-between'>
                <p style='color:gray'>Number of shares: </p>
                <p><%= poll.quantity %></p>
              </div>
              <div class='d-flex justify-content-between'>
                <p style='color:gray'>Cost per share: </p>
                <p>$<%= poll.price %></p>
              </div>
              <div class='d-flex justify-content-between' style='border-top: 1px solid #8B81D2;'>
                <p style='color:gray'>Total cost: </p>
                <p>$<%= (poll.price.to_f * poll.quantity.to_i) %></p>
              </div>
            </div>
          </div>
          <div class='poll-vote'>
            <% if poll.has_voted_by_current_user(current_user) %>
              <p>
                <%= current_user.first_name %> voted <%= current_user.vote_for_this_poll(poll) %>
              </p>
            <% else %>
              <%= simple_form_for [poll, Vote.new] do |f| %>
                <%= f.button :submit, 'yes', class: 'btn btn-primary' %>
                <%= f.button :submit, 'no', class: 'btn btn-primary' %>
              <% end %>
            <% end %>
          </div>
          <div>
            <%= (poll.approval * 100).to_i %>%
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div id='action-bar'>
    <i class="fas fa-search"></i>
    <div data-toggle="modal" data-target="#createPoll" data-whatever="@createPoll">
      <i class="fas fa-money-bill-wave-alt"></i>
    </div>
    <i class="fas fa-cog"></i>
    <br>
    <div data-toggle="modal" data-target="#depositMoney" data-whatever="@depositMoney">
     <i class="fas fa-plus"></i>
    </div>
    <div data-toggle="modal" data-target="#withdrawMoney" data-whatever="@withdrawMoney">
      <i class="fas fa-minus"></i>
    </div>
  </div>
</div>

<%= render 'shared/modal_create_poll' %>
<%= render 'shared/modal_deposit_money' %>
<%= render 'shared/modal_withdraw_money' %>

<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
