<!-- group view container -->
<div class='container d-flex align-items-start justify-content-center'>
  <div id='group-information'>
    <% if @group.photo.file.nil? %>
      <%= image_tag 'monsters/6.png' %>
    <% else %>
      <%= cl_image_tag @group.photo %>
    <% end %>
    <div id='groupshow-groupdescription' class='d-flex justify-content-center'>
      <h2>
        <i><%= @group.description %></i>
      </h2>
    </div>
    <div>
      <h2 style='margin-left: 20px;'>Members</h2>
      <div class='gs-members-list'>
        <% @group.users.each do |user| %>
          <div class='gs-member-tabs'>
            <div class='d-flex justify-content-start align-items-center'>
              <% if user.photo.file.nil? %>
                <%= image_tag 'monsters/6.png', class:'avatar-large' %>
              <% else %>
                <%= cl_image_tag user.photo, class:'avatar-large' %>
              <% end %>
              <h3><%= user.first_name.capitalize %></h3>
            </div>
            <h3><%= (user.user_groups.where(@group.id == :group_id).first.user_share.to_f / @group.total_shares) * 100 %>%</h3>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id='group-show-div' style='margin-left:35px;'>
    <div id='group-performance'>
      <div id='main-chart-header'>
        <div>
          <h1 id='chart-header'><%= @group.name.capitalize %> <span id='group_portfolio1' style='font-size: 24px;'><%=  humanized_money_with_symbol @group.portfolio_value %></span></h1>
        </div>
        <span>+$233.93 (+24.33%)</span>
      </div>
      <div id="mainchartdiv" class='gray-shadow'></div>
      <div id='group-stats' class='gray-shadow'>
        <div id='group-shares'>
          <div class='d-flex justify-content-between'>
            <span style='color:gray;'>Shares:</span>
            <span><%= @group.total_shares %></span>
          </div>
          <div class='d-flex justify-content-between'>
            <span style='color:gray;'>Share value:</span>
            <span><%=  humanized_money_with_symbol (@group.portfolio_value / @group.total_shares) %></span>
          </div>
          <div class='d-flex justify-content-between' style='border-top: 1px solid #8B81D2;'>
            <span style='color:gray;'>Your share:</span>
            <span><%=  humanized_money_with_symbol ((@group.portfolio_value / @group.total_shares) * @user_group.user_share) %></span>
          </div>
        </div>
        <div id='group-balance'>
          <div class='d-flex justify-content-between'>
            <span style='color:gray;'>Available Cash:</span>
            <span id = 'group_cash_value'><%=  humanized_money_with_symbol @group.cash_value %></span>
          </div>
          <div class='d-flex justify-content-between'>
            <span style='color:gray;'>Investment value:</span>
            <span><%=  humanized_money_with_symbol @group.investment_value %></span>
          </div>
          <div class='d-flex justify-content-between'style='border-top: 1px solid #8B81D2;'>
            <span style='color:gray;'>Portfolio Value:</span>
            <span id = 'group_portfolio2'><%=  humanized_money_with_symbol @group.portfolio_value %></span>
          </div>
        </div>
      </div>
    </div>

    <div id='group-positions'>
      <div class='d-flex align-items-start justify-content-start'>
        <h2>Positions</h2>
        <div style='background-color: gray; border-radius: 5px; width: 150px; text-align: center; margin-left: 40px; font-size: 24px;'>
            Dropdown
        </div>
      </div>
      <%= "No positions yet, what are you waiting for?" if @positions.count.zero? %>
      <% @positions.each do |position| %>
        <div id='group-positions-content' class='gray-shadow'>
          <div>
            <div class='d-flex justify-content-between'>
              <span style='color:white;font-size:20px;'><b><%= position.ticker.upcase %></b></span>
            </div>
            <div class='d-flex justify-content-between'>
              <span style='color:gray;'>Shares:</span>
              <span><%= position.quantity %></span>
            </div>
            <div class='d-flex justify-content-between'>
              <span style='color:gray;'>Equity value:</span>
              <span><%= humanized_money_with_symbol position.quantity * StockQuote::Stock.quote(position.ticker).latest_price %></span>
            </div>
            <div class='d-flex justify-content-between'>
              <span style='color:gray;'>Average Cost:</span>
              <span>$22/share</span>
            </div>
          </div>
          <div>
            <div class='d-flex justify-content-between'>
              <span style='color:gray;'>Today's Return:</span>
              <span style='color:#219974'>+$30.23 (+2.5%)</span>
            </div>
            <div class='d-flex justify-content-between'>
              <span style='color:gray;'>Total Return:</span>
              <span style='color:#219974'>+$1,032 (+3.5%)</span>
            </div>
          </div>
        </div>
      <% end %>
    </div>

<!--     <div id='group-watchlist'>
      <h2>Watchlist</h2>
      <%# @group.watchlist.each do |ticker| %>
        <div id='group-positions-content' class='gray-shadow'>
            <div>
              <div class='d-flex'>
                <i class="fas fa-times"></i>
                <p style='color:gray;'><b><%#= ticker %></p>
                <p>$<%#= StockQuote::Stock.quote(ticker).latest_price %></p>
              </div>
            </div>
          </div>
        </div>
      <%# end %>
    </div> -->

<!--     <div id='group-order'>
      <h2>Orders</h2>
      <%# @group.orders.each do |order| %>
        <div id='group-orders-content' class='gray-shadow'>
            <div>
              <div class='d-flex'>
                <strong><%#= order.ticker %></strong>
                <p style='color:gray;'><b><%#= order.quantity %></p>
                <p>$<%#= order.price %></p>
              </div>
            </div>
          </div>
        </div>
      <%# end %>
    </div> -->
    <div class='d-flex justify-content-between'>
      <div id='group-polls'>
        <h2>Polls</h2>
        <%= "No current polls, start the discussion now!" if @polls.count.zero? %>
        <% @polls.each do |poll| %>
          <div id='polls-container' class='gray-shadow'>
            <div class='poll-header' data-poll_id='<%= poll.id %>' data-toggle="collapse" href="#collapse<%= poll.id %>" role="button" aria-expanded="false" aria-controls="collapseExample">
              <p><span style='font-size:24px;'><%= poll.creator.first_name.capitalize %></span> wants to
                <span id='poll-buy'>
                  <%= 'BUY' if poll.buy == true %>
                </span>
                <span id='poll-sell'>
                  <%= 'SELL' if poll.buy == false %>
                </span>
              </p>
              <p><%= poll.quantity %></b>
                <% if poll.quantity == 1 %>
                  share
                <% else %>
                  shares
                <% end %>
                of <%= poll.ticker.upcase %>
              </p>
              <div class='approval-rate'>
                <%= (poll.approval * 100).to_i %>%
              </div>
            </div>
            <div class='poll-content collapse' id="collapse<%= poll.id %>">
              <p style='margin-bottom: 20px;'><i><%= poll.description %></i></p>
              <div>
                <div class='d-flex justify-content-between'>
                  <p style='color:gray'>Number of shares: </p>
                  <p><%= poll.quantity %></p>
                </div>
                <div class='d-flex justify-content-between'>
                  <p style='color:gray'>Cost per share: </p>
                  <p><%= humanized_money_with_symbol poll.price %></p>
                </div>
                <div class='d-flex justify-content-between' style='border-top: 1px solid #8B81D2;'>
                  <p style='color:gray'>Total cost: </p>
                  <p><%= humanized_money_with_symbol (poll.price.to_f * poll.quantity.to_i) %></p>
                </div>
              </div>
              <div class='poll-vote'>
                <% poll.votes.each do |vote| %>
                  <p><i><%= vote.user.first_name %> voted <%= 'yes' if vote.approve == true %><%= 'no' if vote.approve == false %>. (<%= vote.voting_power %>%)</i></p>
                <% end %>
                <% if poll.has_voted_by_current_user(current_user) %>
                  <p>You voted <%= current_user.vote_for_this_poll(poll) %></p>
                <% else %>
                  <%= simple_form_for [poll, Vote.new] do |f| %>
                    <%= f.button :submit, 'yes', class: 'btn btn-primary' %>
                    <%= f.button :submit, 'no', class: 'btn btn-primary' %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div id='group-orders'>
        <h2>Open Orders</h2>
        <div id='orders-container'>
          <h3>APPL <span style='color:#219974; font-size:24px;'>BUY</span></h3>
          <div id='orders-content'>
            <div>
              <span style='color:gray;'>Quantity:</span>
              <span>10</span>
            </div>
            <div>
              <span style='color:gray;'>Price/share:</span>
              <span>$10</span>
            </div>
            <div style='border-top: 1px solid #8B81D2'>
              <span style='color:gray;'>Total Price:</span>
              <span>$100.00</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id='action-bar'>
    <!-- search -->
    <div class='action-icon'>
      <i class="fas fa-search"></i>
      <span>Search</span>
    </div>
    <!-- trade -->
    <div data-toggle="modal" data-target="#createPoll" data-whatever="@createPoll" id='action-trade' class='action-icon'>
      <i class="fas fa-money-bill-wave-alt"></i>
      <span>Trade</span>
    </div>
    <!-- settings -->
    <div data-toggle="modal" data-target="#editGroup" data-whatever="@editGroup" id='action-trade' class='action-icon'>
      <i class="fas fa-cog"></i>
      <span>Settings</span>
    </div>

    <br>
    <!-- deposit -->
    <div data-toggle="modal" data-target="#groupDeposit" data-whatever="@groupDeposit" class='action-icon'>
      <i class="fas fa-plus"></i>
      <span>Deposit</span>
    </div>
    <!-- withdraw -->
    <div data-toggle="modal" data-target="#groupWithdraw" data-whatever="@groupWithdraw" class='action-icon'>
      <i class="fas fa-minus"></i>
      <span>Withdraw</span>
    </div>
  </div>
</div>

<div class="chatbar">
  <%= render 'shared/chat' %>
</div>

<%= render 'shared/modal_create_poll' %>
<%= render 'shared/modal_group_deposit' %>
<%= render 'shared/modal_group_withdraw' %>
<%= render 'shared/modal_edit_group' %>


