<div id='dynamic-dash-container'>
  <!-- left-bar container -->
  <div id='left-bar' class='gray-shadow fade-in'>
    <!-- profile section -->
    <div id='side-profile'>
      <div id='side-profile-photo'>
        <% if current_user.photo.file.nil? %>
          <%= image_tag 'monsters/6.png', class:'avatar-huge' %>
        <% else %>
          <%= cl_image_tag current_user.photo, class:'avatar-huge' %>
        <% end %>
        <i class="fas fa-edit" data-toggle="modal" data-target="#editProfile"></i>
      </div>
      <h2><%= current_user.first_name.capitalize %></h2>
      <!-- balances container -->
      <div class='gray-shadow'>
        <div class='d-flex justify-content-between'>
          <span style='color:gray;'>Available Balance:</span>
          <span>$<%= current_user.available_balance %></span>
        </div>
        <div class='d-flex justify-content-between'>
          <span style='color:gray;'>Total Balance:</span>
          <span>$<%= current_user.total_balance %></span>
        </div>
        <!-- transaction buttons -->
        <div class='transaction-buttons'>
          <button type="button" class="btn" data-toggle="modal" data-target="#userWithdraw" style='margin-left:-20px;'>Withdraw</button>
          <button type="button" class="btn" data-toggle="modal" data-target="#userDeposit" style='margin-right:-20px'>Deposit</button>
        </div>
      </div>
    </div>

    <!-- watchlist container -->
    <div id='watch-list' class='gray-shadow'>
      <div id='watch-list-header'>
        <h2>Watch List</h2>
        <i class="fas fa-plus"></i>
      </div>
      <!-- watch tabs -->
      <div class='watch-tabs'>
        <h3>APPL</h3>
        <h3 style='color:#219974;'>+2.03%</h3>
      </div>
      <div class='watch-tabs'>
        <h3>TSLA</h3>
        <h3 style='color:#ad512f;'>-4.33%</h3>
      </div>
      <div class='watch-tabs'>
        <h3>BYND</h3>
        <h3 style='color:#219974;'>+5.29%</h3>
      </div>
      <div class='watch-tabs'>
        <h3>FB</h3>
        <h3 style='color:#219974;'>+2.1%</h3>
      </div>
      <div class='watch-tabs'>
        <h3>GE</h3>
        <h3 style='color:#219974;'>-2.23%</h3>
      </div>
      <div class='watch-tabs'>
        <h3>BABA</h3>
        <h3 style='color:#219974;'>+1.45%</h3>
      </div>
    </div>
  </div>

  <!-- group view container -->
  <div id='group-view-container'>
    <div style='height:90vh;' class='d-flex flex-column justify-content-center align-items-center fade-in-delay2'>
      <h1 class='fade-in-delay2' style='font-size:32px;'><span style='font-size:30px; color:#8B81D2;'>Welcome</span> <%= current_user.first_name.capitalize %>!</h1>
      <% if current_user.groups.size == 0 %>
      <div class="transaction-buttons">
      <button type="button" class="btn m-2" data-toggle="modal" data-target="#createGroup" data-whatever="@createGroup">Create a Group</button>
      <button type="button" class="btn"><%= link_to "Join the Group", groups_path %></button>
      <% end %>
      </div>
    </div>
  </div>
    
Collapse



Message Input


  <!-- right container -->
  <div id='right-bar' class='gray-shadow fade-in-delay1'>
    <!-- groups list section -->
    <div id='side-group'>
      <div id='group-header'>
        <h2>Groups</h2>
        <div class="dropdown">
          <button class="dropdown-toggle" type="button" id="groupAction" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-users"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="groupAction">
            <a class="dropdown-item" data-toggle="modal" data-target="#createGroup" data-whatever="@createGroup">Create a group</a>
            <%= link_to "Join a group", groups_path, class:'dropdown-item' %>
          </div>
        </div>
      </div>

      <div id='groups-list'>
        <% @groups.each do |group| %>
          <div class='group-tabs-container' data-group_id='<%= group.id %>'>
            <%= link_to group_path(group), class:'group-link', method: :get, remote: true do %>
              <div class='group-tabs d-flex align-items-center' data-tab_id='1' data-group_name='<%= group.name %>' data-toggle="collapse" href="#collapse<%= group.name %>" role="button" aria-expanded="false" aria-controls="collapseExample">
                <h2><%= group.name.capitalize %></h2>
              </div>
            <% end %>
            <div class="collapse" id="collapse<%= group.name %>">
              <% if group.photo.file.nil? %>
                <%= image_tag 'breath.jpg' %>
              <% else %>
                <%= cl_image_tag group.photo %>
              <% end %>
              <div id="members-list">
                <% group.users.each do |user| %>
                  <div class='member-tabs'>
                    <div class='d-flex justify-content-start align-items-center'>
                      <% if user.photo.file.nil? %>
                        <%= image_tag 'monsters/6.png', class:'avatar' %>
                      <% else %>
                        <%= cl_image_tag user.photo, class:'avatar' %>
                      <% end %>
                      <h3><%= user.first_name.capitalize %></h3>
                    </div>
                    <h3><%= (user.user_groups.where(group.id == :group_id).first.user_share.to_f / group.total_shares) * 100 %>%</h3>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>

<%= render 'shared/modal_create_group' %>
<%= render 'shared/modal_edit_profile' %>
<%= render 'shared/modal_user_deposit' %>
<%= render 'shared/modal_user_withdraw' %>

<script>
  const groups = document.getElementById('groups-list');
  const groupTabs = document.querySelectorAll('.group-tabs-container');

  // window.addEventListener('load', (e) => {
  //   groups.firstElementChild.getElementsByClassName('collapse')[0].classList.add('show');
  // })

  groupTabs.forEach((group) => {
    group.addEventListener('click', (e) => {
      const tab = e.currentTarget
      if (tab === groups.firstElementChild) {
        console.log('this is already the first child');
        groups.firstElementChild.classList.add('active');
        groups.firstElementChild.getElementsByClassName('collapse')[0].classList.toggle('show');
      } else {
        groups.firstElementChild.classList.remove('active');
        groups.firstElementChild.getElementsByClassName('collapse')[0].classList.remove('show');
        groups.insertAdjacentElement('afterbegin', tab);
        groups.firstElementChild.classList.add('active');
        groups.firstElementChild.getElementsByClassName('collapse')[0].classList.add('show');
      };
    });
  })
</script>
