<h1>Lavender</h1>

<% render '/shared/group_form' %>

<div class="create-form mx-auto">
  <span>
    <span style="font-size:24px; font-weight:bold;" >
      <h3>List a New Toilet</h3>
    </span>
    <p>
    <%= simple_form_for [@group] do |f| %>
    <%= f.input :name, maxlength: 20 %>
    <%= f.input :description %>
    <%= f.input :initial_deposit, required: true %>
    <%= f.button :submit, 'Create Group', class: 'btn btn-primary'%>
    <% end %>
  </p>
</div>

<% Group.all.each do |group| %>
  <%= group.name %>
<% end %>

<% UserGroup.all.each do |user_group| %>
  <%= user_group %>
<% end %>

<% @groups.each do |group| %>
  <%= group %>
<% end %>

<% @user_groups.each do |user_group| %>
  <%= user_group %>
<% end %>
