<h1>Lavender</h1>

<%= render '/shared/group_form' %>

<% Group.all.each do |group| %>
  <%= group.name %>
<% end %>

<% UserGroup.all.each do |user_group| %>
  <%= user_group %>
<% end %>

<% @groups.each do |group| %>
  <%= group %>
<% end %>

<% @user_groups.each do |user_group| %>
  <%= user_group %>
<% end %>
