<div id='dashboard-container' style='background-image:url(<%= asset_url 'dashboard_background.png' %>);'>
  <div class='container-fluid d-flex justify-content-center' >
    <div class='dashboard-profile'>
      <div class='profile-card gray-shadow'>
        <div class='profile-photo text-center'>
          <%= cl_image_tag current_user.photo, class:'avatar-huge' %>
        </div>
        <div class='profile-info'>
          <div class='d-flex justify-content-between'>
            <h2>Welcome <%= current_user.first_name %>!</h2>
            <a class='btn btn-primary gray-shadow' data-toggle="modal"  data-target="#editProfile">Edit Profile</a>
          </div>
          <div>
            <p>Available Balance:</p>
            <p class='text-white'>$<%= current_user.available_balance %></p>
            <div class='group-buttons'>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#withdrawMoney">Withdraw</button>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#depositMoney">Deposit</button>
            </div>
          </div>
          <div style='margin:0 !important;'>
            <p>Total Balance:
              <span class='text-white'>$<%= current_user.total_balance %></span>
            </p>
          </div>
        </div>
      </div>
      <div class='group-buttons'>
        <button type="button" class="btn btn-primary gray-shadow" data-toggle="modal" data-target="#createGroup" data-whatever="@createGroup">Create a group</button>
        <%= link_to "Join a group", groups_path, class:'btn btn-primary gray-shadow' %>
      </div>
    </div>

    <div class='dashboard-group'>
      <% current_user.user_groups.each do |user_group| %>
        <div class='group-card gray-shadow'>
          <div class='group-photo'>
            <%= image_tag 'group' %>
          </div>
          <div class='group-info'>
            <div class='d-flex flex-column justify-content-start'>
              <h3><%= link_to user_group.group.name, group_path(user_group.group_id) %></h3>
              <div>
                <p>Group Value: $<%= user_group.group.investment_value %></p>
                <p>Ownership: <%= 100 * (user_group.user_share / user_group.group.total_shares)  %>%</p>
                <p><i><%= user_group.group.description %></i></p>
              </div>
            </div>
            <div class='d-flex flex-column'>
              <h3 style='color:green; text-align:right;'>+23%</h3>
              <p style='color:green; text-align:right;'>+$1,003</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render 'shared/modal_create_group' %>

<div class="modal fade" id="depositMoney" tabindex="-1" role="dialog" aria-labelledby="createGroup" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="depositMoneyLabel">Make a Deposit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@user], :url => update_user_path(@user.id), :method => :patch do |f| %>
            <%= f.input :deposit, required: true , placeholder: 'Number in Dollars', style:'background-color:gray;'%>
            <%= f.button :submit, 'Deposit Funds', class: "btn btn-primary btn-lg", style:"border-radius: 5rem; width:100%; font-size: 100%;" %>
            <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="withdrawMoney" tabindex="-1" role="dialog" aria-labelledby="createGroup" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="withdrawMoneyLabel">Make a Withdrawal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <p>Funds available for withdrawal: $<%= current_user.available_balance %>.</p>
      <div class="modal-body">
        <%= simple_form_for [current_user], :url => update_user_path(@user.id), :method => :patch do |f| %>
            <%= f.input :withdrawal, required: true , placeholder: 'Number in Dollars'%>
            <%= f.button :submit, 'Withdraw Funds', class: "btn btn-primary btn-lg", style:"border-radius: 5rem; width:100%; font-size: 100%;" %>
            <% end %>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="createGroup" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editProfileLabel">Edit Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "devise/registrations/edit" %>
      </div>
    </div>
  </div>
</div>

