<div class="collapse" id="groupChat">
  <div class="chats">
    <% @group.chatroom.chats.each do |chat| %>
      <div class="col-12">
        <div class="chat d-inline-block text-left text-white mb-2" style='background-color:#040404;width:100%; padding: 10px 20px;'>
          <div class="chat-bubble" style='display: flex'>
            <% if chat.user.photo.file.nil? %>
            <%= image_tag 'monsters/6.png', class:'chat-avatar' %>
          <% else %>
            <%= cl_image_tag chat.user.photo, class: "avatar dropdown-toggle", style:'margin-right:20px;' %>
            <% end %>
            <div>
              <small class="chat-username"><i>At <%= chat.created_at.strftime("%I:%M%p") %> <%= chat.user.first_name %> said:</i></small>
              <p class="m-0 chat-message" style='background-color:transparent;'><%= chat.message %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="chat-form" style='margin-bottom: 20px;'>
    <%= simple_form_for [Chat.new] do |f| %>
      <div class="field position-relative">
        <%= f.input :message, class: "form-control bg-dark", required: true, label: false %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :chatroom_id, value: @group.chatroom.id %>
        <%= f.submit 'Post Comment', class:'lavender-button'%>
      </div>
    <% end %>
  </div>
</div>

<button class="popup-trigger btn-lg btn-primary lavender-button" type="button" data-toggle="collapse" data-target="#groupChat" aria-expanded="false" aria-controls="collapseExample" style='width:100%;margin-right:20px;'>
  Post a comment
</button>

<!-- <div class="collapse" id="collapseExample">
  <div class="chats">
  </div>
  <div class="chat-form">
    <%#= form_with( scope: :chat, url: chats_path, format: :json, id: 'chat-form') do |form| %>
      <div class="field">
        <%#= form.text_field :message, id: :message, class: "form-control", required: true, placeholder: "Enter your message" %>
        <%#= form.hidden_field :name, id: :name %>
        <%#= form.hidden_field :chatroom_id, id: :chatroom_id %>
        <%#= form.submit %>
      </div>
    <%# end %>
  </div>
</div>
 -->
<!--   <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    JS Chat (Broken)
  </a> -->
