<div class="collapse" id="collapseExample2">
  <div class="chats">
    <% @group.chatroom.chats.each do |chat| %>
      <div class="col-12">
        <div class="chat bg-secondary d-inline-block text-left text-white mb-2">
          <div class="chat-bubble" style='display: flex'>
            <%= image_tag current_user.photo, class: "avatar dropdown-toggle" %>
            <div>
              <small class="chat-username"><i>At <%= chat.created_at.strftime("%I:%M%p") %> <%= chat.user.first_name %> said:</i></small>
              <p class="m-0 chat-message"><%= chat.message %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="chat-form">
    <%= simple_form_for [Chat.new] do |f| %>
      <div class="field position-relative">
        <%= f.input :message, class: "form-control", required: true, label: false %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :chatroom_id, value: @group.chatroom.id %>
        <div style="display: none"><%= f.submit %></div>
      </div>
    <% end %>
  </div>
</div>

<button class="popup-trigger btn-lg btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
  Chat with <%= @group.name %>
</button>

<!-- <div class="collapse" id="collapseExample">
  <div class="chats">
  </div>
  <div class="chat-form">
    <%= form_with( scope: :chat, url: chats_path, format: :json, id: 'chat-form') do |form| %>
      <div class="field">
        <%= form.text_field :message, id: :message, class: "form-control", required: true, placeholder: "Enter your message" %>
        <%= form.hidden_field :name, id: :name %>
        <%= form.hidden_field :chatroom_id, id: :chatroom_id %>
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>
 -->
<!--   <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    JS Chat (Broken)
  </a> -->
