<div class="collapse" id="groupChat">
  <div class="chats" style='height:400px;overflow-y:scroll;'>
    <% @group.chatroom.chats.each do |chat| %>
      <div class="d-flex justify-content-between align-items-start" style="padding:10px 20px;background-color:#040404;margin-bottom:10px;">
        <div class="d-flex flex-row">
          <div class="d-flex align-items-center">
            <%= cl_image_tag chat.user.photo, class:"avatar" %>
          </div>
          <div class="d-flex align-items-center">
            <span style="margin-left:10px;"><%= chat.user.first_name.capitalize %> said: </span>
          </div>
        </div>
        <div style="width:500px;word-wrap:break-word;margin-top:7px;">
          <span><%= chat.message %></span>
        </div>
        <div style="margin-top:7px;">
          <span style="color:gray;"><i><%= chat.created_at.strftime("%_m/%-d/%y %I:%M%p") %></i></span>
        </div>
      </div>
    <% end %>
  </div>
  <div class="chat-form" style='margin-bottom: 20px;'>
    <%= simple_form_for [@chat], remote: true do |f| %>
      <div class="field position-relative">
        <%= f.input :message, class: "form-control", required: true, label: false %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :chatroom_id, value: @group.chatroom.id %>
        <%= f.submit 'Send', class:'lavender-button'%>
      </div>
    <% end %>
  </div>
</div>

<button class="popup-trigger btn-lg lavender-button" type="button" data-toggle="collapse" data-target="#groupChat" aria-expanded="false" aria-controls="collapseExample" style='width:100%;margin-right:50px;border:none!important;'>
  <%= @group.name.capitalize %> Chat
</button>

<!-- <div class="collapse" id="collapseExample">
  <div class="chats">
  </div>
  <div class="chat-form">
    <%#= form_with( scope: :chat, url: chats_path, format: :json, id: 'chat-form') do |form| %>
      <div class="field">
        <%#= form.text_field :message, id: :message, class: "form-control", required: true, placeholder: "Enter your message" %>
        <%#= form.hidden_field :name, id: :name %>
        <%#= form.hidden_field :chatroom_id, id: :chatroom_id %>
        <%#= form.submit %>
      </div>
    <%# end %>
  </div>
</div>
 -->
<!--   <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    JS Chat (Broken)
  </a> -->
