<div class="modal fade" id="createPoll" tabindex="-1" role="dialog" aria-labelledby="createPoll" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createPollLabel">Create poll</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@group, @poll] do |f| %>
        <%= f.input :description %>
        <%= f.input :target_price %>
        <%= f.input :stop_loss_price %>
        <%= f.input :quantity %>
        <%= f.input :expiration %>
        <%= f.input :ticker %>
        <%= f.button :submit, 'Create Poll', class: 'btn btn-primary'%>
        <% end %>
      </div>
    </div>
  </div>
</div>
