<div class="modal fade modalForm" id="createGroup" tabindex="-1" role="dialog" aria-labelledby="createGroup" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createGroupLabel">Create a group</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <span style='padding: 10px 16px;'>
        <span style='color:gray'>Funds available for deposit:</span> <span id='withdraw-form-balance'><%= humanized_money_with_symbol current_user.available_balance %></span>.
      </span>
      <div class="modal-body">
        <%= simple_form_for [@group] do |f| %>
        <%= f.input :name, maxlength: 20 %>
        <%= f.input :description %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.input :initial_deposit, as: :decimal, required: true %>
        <%= f.button :submit, 'Create Group', class: "btn btn-primary btn-lg", style:"border-radius: 5rem; width:100%; font-size: 100%;" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
