<div class="modal fade modalForm" id="joinGroup" tabindex="-1" role="dialog" aria-labelledby="joinGroup" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="joinGroupLabel">Join group</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <span style='padding: 10px 16px;'>
        <span style='color:gray'>Funds available for deposit:</span> <span id='withdraw-form-balance'><%= humanized_money_with_symbol current_user.available_balance %></span>.
      </span>
      <div class="modal-body">
        <%= simple_form_for [@user_group] do |f| %>
          <%= f.input :group_id, as: :hidden, input_html: { value: '' } %>
          <%= f.input :user_contribution, as: :decimal, required: true %>
          <%= f.button :submit, 'Join group', class: "btn btn-primary btn-lg", style:"border-radius: 5rem; width:100%; font-size: 100%;" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
