<div class="modal fade modalForm" id="groupWithdraw" tabindex="-1" role="dialog" aria-labelledby="groupWithdraw" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="groupWithdrawLabel">Make a Withdrawal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <span style='padding: 10px 16px;'>
        <span style='color:gray'>Funds available for deposit:</span> <span id='withdraw-form-balance'><%= humanized_money_with_symbol @user_group.group.cash_value_cents %></span>.
      </span>
      <div class="modal-body">
        <%= simple_form_for [@user_group], :url => update_user_group_path(@user_group.id), remote: true, :method => :patch do |f| %>
          <%= f.input :withdrawal, required: true, as: :decimal, placeholder: 'Number in Dollars'%>
          <%= f.hidden_field :user_group_id, value: @user_group.id %>
          <%= f.button :submit, 'Withdraw Funds', class: "btn btn-primary btn-lg", style:"border-radius: 5rem; width:100%; font-size: 100%;" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
