<div id='landing-banner' style="background-image:linear-gradient(180deg, rgba(0, 0, 0, 0.29) 0%, #000000 100%),url(<%= asset_url 'landing_background.jpg' %>)">
  <div id =
  'banner-text' class='container d-flex justify-content-center align-items-center'>
      <%= image_tag 'banner-text.png', style:'width:100%;' %>
  </div>
</div>

<div class='d-flex justify-content-center'>
  <h2 id='easy-to-start'>Easy <span style='color:white;'>to start</span>.</h2>
</div>

<div id='info-container' class='container'>
  <div id='info-cards' class='row no-gutters'>
    <div class='info-card col-md-4 col-xs-12'>
      <div class='info-photo mx-auto'>
        <%= image_tag 'group.jpg' %>
      </div>
      <div class='info-text mx-auto'>
        <h3>
          Create<span style='color:#8B81D2'>.</span>
          <span style='font-size:24px;color:#8B81D2;'>an investment group</span>
        </h3>
      </div>
    </div>
    <div class='info-card col-md-4 '>
      <div class='info-photo mx-auto'>
        <%= image_tag 'phone.jpg' %>
      </div>
      <div class='info-text mx-auto'>
        <h3>
          Invest<span style='color:#8B81D2'>.</span>
          <span style='font-size:24px;color:#8B81D2;'>in stocks cooperatively</span>
        </h3>
      </div>
    </div>
    <div class='info-card col-md-4 col-xs-12'>
      <div class='info-photo mx-auto'>
        <%= image_tag 'breath.jpg' %>
      </div>
      <div class='info-text mx-auto'>
        <h3>
          Grow<span style='color:#8B81D2'>.</span>
          <span style='font-size:24px;color:#8B81D2;'>together!</span>
        </h3>
      </div>
    </div>
  </div>
</div>

<div id='closing-container' class='container d-flex flex-column align-items-center justify-content-center'>
  <h2 class='closing-text'>Invest commission-<span style='color:#8B81D2;'>free</span></h2>
  <p>with your family, friends, and more!</p>
  <%= link_to "Signup", new_user_registration_path, class: "nav-link signup-button text-center", style:'margin-top:50px;' %>
</div>

<div id='team-container' class='container d-flex flex-column align-items-center justify-content-center'>
  <h2 class='closing-text'>Meet our <span style='color:#8B81D2;'>Team</span></h2>
  <div class='container d-flex align-items-center justify-content-center', style='margin-top:50px;'>
    <div class='row'>
      <div class='col-md-3 col-sm-6'>
        <div class='team-avatar'>
          <%= image_tag 'tony.jpg', class: 'avatar-huge' %>
          <p class='text-center'>Tyler</p>
        </div>
      </div>
      <div class='col-md-3 col-sm-6'>
        <div class='team-avatar'>
          <%= image_tag 'tony.jpg', class: 'avatar-huge' %>
          <p class='text-center'>Tony</p>
        </div>
      </div>
      <div class='col-md-3 col-sm-6'>
        <div class='team-avatar'>
          <%= image_tag 'tony.jpg', class: 'avatar-huge' %>
          <p class='text-center'>Nasser</p>
        </div>
      </div>
      <div class='col-md-3 col-sm-6'>
        <div class='team-avatar'>
          <%= image_tag 'tony.jpg', class: 'avatar-huge' %>
          <p class='text-center'>Mike</p>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<div class='footer-image' style="background-image: url(<%= asset_url 'background_triangles.png' %>)">
</div>
