<br>
<br>
<br>
<br>
<br>
<br>

<div>
  <ul>
    <li>description: <%= @poll.description %></li>
    <li>target price: <%= @poll.target_price %></li>
    <li><%= @poll.stop_loss_price %></li>
    <li><%= @poll.buy %></li>
    <li><%= @poll.quantity %></li>
    <li><%= @poll.price %></li>
    <li><%= @poll.expiration %></li>
    <li><%= @poll.ticker %></li>
    <li><%= @poll.creator_id %></li>
    <li><%= @poll.created_at %></li>
  </ul>
</div>
<div>
  <%= link_to "group", group_path(@poll.group_id) %>
</div>
